<footer>
    <div class="container">
        <div class="footer">
            <div class="footer-logo">
                <img src="img/logo-footer.svg">
            </div>
            <div class="footer-links">
                <a href="#">Our expertise</a>
                <a href="#">Technological capabilitis </a>
                <a href="#">Our development process</a>
            </div>
            <div class="footer-links">
                <a href="#">Our last cases</a>
                <a href="#">Drop ua a line</a>
            </div>
            <div class="footer-tel">
                <a href="tel:+35 840 653 94 24">+35 840 653 94 24</a>
                <a href="mailto:info@gofriends.net">info@gofriends.net</a>
            </div>
        </div>

        <span class="copy">Gofriends 2018 (c)</span>
    </div>
</footer>